/config/settings-site_*
/config/masquerade-site_*
/config/mock-site_*
/config/parameters-site_*
/config/site_*
/config/sites.php
/htdocs/media/site_*
/htdocs/sites/sites.php
.idea

/nbproject/*
/nbproject/**/*
